* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item
{
    display: block;
}
.aside-icon {
    width: 80px;
    height: 80px;
}
a {
    text-decoration: none;
    color: #04515f !important;
}
.aside-icon a i {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
}
.postcard.light {
    background-color: #e1e5ea;
}
.postcard {
    height: 400px;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    box-shadow: -5px 5px 20px 10px rgb(201, 198, 241);
}
.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard a {
    color: inherit;
}
a {
    text-decoration: none;
    color: #04515f !important;
}
@media screen and (min-width: 769px)
{
.postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
@media screen and (min-width: 769px)
{
.postcard .postcard__text {
    padding: 3rem;
    width: 100%;
}
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .t-dark {
    color: #18151f;
}
.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
@media screen and (min-width: 769px){
.postcard .postcard__tagbox {
    justify-content: start;
}
}
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}
ul {
    list-style: none;
}
.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.5s;
}
@media screen and (min-width: 769px)
{
.postcard {
    flex-wrap: inherit;
}
}
.postcard .postcard__img_link {
    display: contents;
}
@media screen and (min-width: 769px)
{
    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
    .postcard.light {
        background-color: #e1e5ea;
    }
}
@media screen and (min-width: 769px)
{
    .postcard {
        flex-wrap: inherit;
    }
    
}
@media screen and (min-width: 769px)
{
    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
}
.blue .postcard__bar {
    background-color: #0076bd;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.img
{
   background-attachment: fixed;
   
}

.achivements
{
    position: relative;
    background-image: url(../img/pexels-kelly-2869215.jpg);
    background-attachment: fixed;
    height: 300px;    
    width: 100%;
    padding: 20px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.container5
{
    width: 80%;
    margin: auto;
}
/* .items
{
    display: inline;
} */
.achive-items
{
    overflow: hidden;
    padding-top: 100px;
}
.achive-item
{
    width: 25%;
    float: left;
    text-align: center;
}
h3
{
    font-size: 30px;
    color: white;
    margin: 10px 0px;
}
.span
{
    font-size: 20px;
    color: white;
}
.icon
{
    color: rgb(166, 221, 218);
    font-size: 50px;
}

.qutes
{
    position: relative;
    background-image: url(../img/hotel1.jpg);
    background-attachment: fixed;
    height: 300px;    
    width: 100%;
    padding: 20px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardover:hover
{
    transform: scale(1.1);
}
.our-team:hover
{
    transform: scale(1.1);
}
/* .icon{
    padding-left: 100px;
    font-size: 30px;
} */
/* .P1{
    padding-left: 120px; 
} */
.navbar-brand, .title {
    background: -webkit-linear-gradient(90deg,#a9dbcb,rgb(31, 66, 71));
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.div1
{
    border: solid rgb(115, 190, 187) 3px;
    margin: 0px 2px;
    
}
.H2
{
    margin-top: 10px;
}
#card1
{
    background-color: #18151f;
}
